<div class="container bg-light">
  <nav class="menu">
    <a href="#" class="menu-item">
      <span class="material-icons">Games</span>
      <span class="menu-item-label">Games</span>
    </a>
    <a href="#" class="menu-item">
      <span class="material-icons">camera</span>
      <span class="menu-item-label">Images</span>
    </a>
    <a href="#" class="menu-item">
      <span class="material-icons">store</span>
      <span class="menu-item-label">Movies</span>
    </a>
    <a href="#" class="menu-item">
      <span class="material-icons">store</span>
      <span class="menu-item-label">Store</span>
    </a>
  </nav>
</div>
