<!-- Image and text -->
<div class="container bg-light">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30"
        class="d-inline-block align-top" alt="">
      Bootstrap
    </a>
  </nav>
</div>
<br>
<div class="container">
  <app-personfilter></app-personfilter>
</div>
<br>
<div class="container">
  <app-addperson></app-addperson>
</div>
<div class="container">
  <app-personlist [person]="person"></app-personlist>
</div>